:root{
    --logofont: "Black Ops One", system-ui;
    --headingfont: "Orbitron", sans-serif;
    --paragraphfont: "Chakra Petch", sans-serif;
    --background-color: #042a2b;
    --background-color1: #004e64;
    --background-color2: #042a2b;
    --text-color: white;
    --accent1-color: #AAD8D3;
    --opacity: 0.8;
}

/* Universal Start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

button{
    padding: 2.5%;
    background-image: linear-gradient(to right, orange ,rgb(243, 70, 70));
    border-radius: 25px;
    cursor: pointer;
}

button:hover{
    background-image: linear-gradient(to left, orange ,rgb(243, 70, 70));
}

button a{
    text-decoration: none;
}
/* Universal End*/

/* <!-- Nav Section Start --> */
.navBar{
    position: relative;
    top: 0;
    background-color: var(--background-color);
    padding: 1%;
}

.topNav{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    height: 10vh;  
}

.navBar a{
    text-decoration: none;
    font-weight: 800;   
}

.topNav .logo a{
    color: var(--text-color);
    font-weight: 100;
    letter-spacing: 0.1rem;
    font-family: var(--logofont);
}

.topNav .logo a span{
    color: orange;
    font-size: 25px;
}

.topNav .navItems{
    margin-right: 1%;
}

.topNav .navItems a{
    margin-right: 1em;
    color: white;
}

.topNav .navItems a:hover{
    color: orange;
}
/* <!-- Nav Section End --> */

/* Welcome Section Start */
.welcome {
    background-color: var(--background-color1);
    display: flex;
    margin: 5px;
}

.welcome .welcomeLeft{
    padding-top: 10px; 
    width: 60%;
} 
.welcome .welcomeLeft p{
    font-variant: small-caps;
    color: white;
    margin: 15px;
    font-family: var(--headingfont);
    font-weight: 500;
    font-style: italic;
    letter-spacing: 0.1rem;
} 

.welcome .welcomeLeft p:hover {
    color: orangered;
}

.welcome .slideshow{
    margin-left: 32rem;
    width: 50%;  
}

.welcomeLeft button {
    margin: 0 0 10px 100px;
    width: 20rem;
    font-size: 25px;
    font-weight: 600;
    border: 2px solid black;  
}

.welcomeLeft button a {
    color: black;
}
.welcomeLeft button a:hover{
    color: white;
}

.welcomeLeft h1{
    font-size: 3em;
    margin-top: 15px;
    margin-left: 10%;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: var(--paragraphfont);
}

.welcomeLeft h1 span{
    color: orange; 
}

.welcomeLeft h1 span:hover{
    text-decoration: 2px solid orange underline;  
    color: black;
}

.welcomeLeft p{
    color: white;
    padding-bottom: 7%;
}

/* Slideshow container */
.slideshow {
    position: relative;
    max-width: 100%;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: flex;
}

/* Add a fade effect */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: 0.001} 
    to {opacity: 1}
}

/* Style the images */
.mySlides img {
    width: 400px; 
    height: 400px; 
    object-fit: cover; 
    border-radius: 50%;
}

/* Welcome Section End */

/* About Section start */
.about {
    display: flex;
    margin: 5px;
    margin-top: 10px;  
}

.aboutLeft img {
    margin-top: 5px;
    width: 32rem;
}

fieldset {
    background-color: aliceblue;
    margin-left: 40px;
    border: 2px solid black;
    border-radius: 10px;
}

legend {
    color: black;
    font-size: 25px;
    margin-left: 100px;
    font-weight: bold;
}

fieldset p {
    margin-top: 50px;
    margin-left: 20px;
    color: var(--background-color2);
    font-family: var(--paragraphfont);
    font-size: 20px;
}

fieldset button {
    margin-left: 35%;
    margin-top: 50px;
    width: 15rem;
    font-size: 25px;
    font-weight: 600;
    border: 1px solid black;  
}

fieldset button a {
    color: black;
    text-shadow: 1px solid black;
}
fieldset button a:hover {
    color: white;
}
/* About Section End */

/* Recipies Section Start */
.recipies{
    margin-top: 10px;
    padding: 10px;
}

.recipiesHead .text-center {
    color: black;
}

.recipieControl{
    display: flex;
}

.recBox{
    padding: 5%;
    margin: 5%;
    box-shadow:5px 10px 10px 5px rgba(0, 0, 0, 0.1) ;
    border-radius: 4%;
}

.recBox img{
    width: 250px;
    height: 250px;
    border-radius: 25%;
    margin-left: 15%;
}
/* Recipies Section End */

/* Status Bar Start */
.statusBar{
    display: flex;
    margin: 4% 2%;
    padding: 3%;
}

.statusMain img {
    margin-left: 40px;
    width: 70px;
    height: 50px;
}

.status2 img {
    margin-left: 50px;
    width: 50px;
}

.statusMain{
    margin-left: -35px;
    margin-top: -120px;
    width: 85%;
    background-color: aliceblue;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow:10px 10px 10px 10px  rgba(0, 0, 0, 0.2) ;
}

.statusMain h1 {
    margin-left: 50px;
}

.statusMain p {
    color: black;
    font-style: italic;
    font-weight: bold;
}

.weather {
    background-color: aliceblue;
    padding: 10px 10px 30px 10px;
    right: 35px;
    margin-top: -120px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    position: absolute;
    border-radius: 10px;
}

.weather h2::after {
    content: url('images/weather.svg');
    display: inline-block;
    margin-left: 10px;
}

/* Weather icon styles */
.weather img {
    position: absolute;
    width: 30px;
    margin-left: 105px;
    margin-top: -50px;
}

.weather h2 {
    opacity: var(--opacity);
    font-family: var(--headind1);
    background-color: var(--background-color);
    color: var(--text-color);
    padding:10px 10px 10px 15px;
    margin: 10px 15px 15px -20px;
}

.weather p {
    margin-top: 10px;
}

/* Status Bar End */

/* Food Setcion Start */
.foodArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.foodsControl {
    flex: 1 1 calc(25% - 40px); /* Four items per row */
    box-sizing: border-box;
    margin: 20px;
}

.foodsHead h1 {
    color: black;
    text-decoration: underline;
}

.foodBox {
    background-color: var(--text-color);
    border-radius: 10px;
    box-shadow: 2px 2px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}

.foodBox img {
    height: 300px;
}

.foodBox:hover {
    transform: translateY(-5px);
}

.foodContainerBox {
    text-align: center;
}

.img-responsive {
    width: 100%;
    height: auto;
    display: block;
}

.imgDesc {
    padding: 15px;
}

.imgDesc h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.imgDesc p {
    font-size: 1.2em;
    color: black;
    margin: 10px 0;
}

.imgDesc button {
    background-color: #ff5722;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
}

.imgDesc button:hover {
    color: var(--text-color);
}

/* Food Section End */

/* footer Start */
.footer{
    background-color: #111;
    margin-top: -6%;
    padding-bottom: 2%;
}

.footer h1 span{
    color: orange;
}

.footer h1{
    font-family: var(--logofont);
    font-weight: 100;
    color: var(--text-color);
    padding-top: 3%;
}

.footer h3{
    color: var(--text-color);
    padding: 2% 0;
}

.text-center {
    text-align: center;
    color: var(--text-color);
}
/* footer end */




/* Responsive Media */
@media (max-width: 32rem) {
    .foodsControl {
        flex: 1 1 calc(50% - 50px);
    }

    .navBar {
        width: 512px;
    }

    .topNav {
        flex-direction: column;
        align-items: center;
    }

    .welcome {
        flex-direction: column;
        width: 512px;
        background-color: aliceblue;
    }

    .welcomeLeft h1 {
        align-items: center;
        width: 512px;
    }

    .welcomeLeft p {
        display: none;
    }

    .welcomeLeft h1 span {
        color: darkgreen;
    }

    .welcomeLeft button {
        margin-bottom: 15px;
    }

    .welcome .slideshow {
        margin-top: 15px;
        margin-left: 0;
        width: 100%;
    }

    .welcome .slideshow img {
        margin-left: 50px;
    }

    fieldset {
        width: 512px;
        margin-left: 5px;
        padding-bottom: 25px;
    }

    .about {
        flex-direction: column;
    }

    .aboutLeft img {
        width: 512px;
    }

    .recipiesHead .text-center {
        width: 512px;
    }

    .recipieControl {
        margin-left: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }


    .recBox {
        background-color: aliceblue;
        box-shadow: none;
        text-align: center;
        height: 400px;
    }
    

    .recBox img {
        margin-left: 40px;
        width: 50%;
        height: 80px;
    }

    .foodArea {
        display: block;
    }
    
    .statusBar {
        flex-direction: column;
        display: block;
    }

    .statusMain {
        max-width: 500px;
        padding: 0 20px 0 20px;
        margin: -40px 0 20px 20px;
    }

    .weather {
        position: static;
        width: auto;
        margin: 10px 10px 10px 25%;
        padding: 15px;
        text-align: center;
        background-color: white;
        max-width: 100%; 
    }

    picture img {
        border-bottom: 10px solid var(--primary-color);
    }

    .weather h2 {
        background-color: white;
        color: black;
    }

    .weather img {
        position: static;
        margin: 0 auto 15px;
        width: 70px;
        height: auto;
    }

    .statusMain img {
        margin-left: 10px;
        width: 20px;
        height: 10px;
    }

    .status2 img {
        margin-left: 20px;
        width: 10px; 
    }

    .status2 h1 {
        margin-left: 20px;
    }

    .statusMain h1 {
        margin-left: 5px;
        font-size: 15px;
    }

    .statusMain p {
        color: black;
        font-size: 10px;
        font-style: italic;
        font-weight: bold;
    }

    footer {
        width: 512px;
    }
}
