:root{
    --primary-color: #1d1e18;
    --secondary-color: #c08552;
    --accent1-color: #2a2723;
    --accent2-color: #ece2d0;
    --nav-background-color: #ece2d0;
    --nav-link-color: #895737;
    --nav-hover-link-color:var(--accent1-color);
    --nav-hover-background-color:var(--secondary-color);
    }

body{
    max-width: 950px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header{
    background-color: var(--primary-color);
    color: var(--accent2-color);
    text-align: center;
    font-family: 'Jaro', sans-serif;
}

nav{
    background-color: var(--nav-link-color);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a{
    color: var(--nav-background-color);
    margin: 0 10px;
    text-decoration: none;
    position: relative;
    padding: 5px 0;
    font-family: 'oswald', sans-serif;
}

nav a::before{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: var(--accent1-color);
    transition: all 0.2s ease-in-out;
}

nav a:hover::before{
    width: 100%;
    left: 0;
}

main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.card{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.card h2{
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding: 10px;
    margin: -20px -20px 20px -20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
}

.card h3{
    text-align: center;
    border-bottom: 1px solid rgb(91, 73, 73);
}

.card .about_me{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.card .about_me img{
    max-width: 150px;
    flex-shrink: 0;
    order: 1;
}

.card .about_me p{
    flex-grow: 1;
    order: 0;
}

.card .haiti{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    position: relative;
}

.card .haiti img{
    width: 180px;
    height: 115px;
    flex-shrink: 0;
    position: absolute;
}

.card .haiti p{
    margin-left: 12rem;
}

.card ul{
    padding-top: 80px;
}

.card li{
    margin-bottom: 10px;
}

.card a{
    color: #005f7f;
    text-decoration: none;
}

.card a:hover{
    text-decoration: underline;
}

footer{
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    border-radius: 8px;
    padding: 1px;
    border-top: 1px solid #ccc;
}

#lastModified{
    color: peru;
}
