/* Global variables */
:root {
    --primary-color: #b90000;
    --secondary-color: darkgreen;
    --background-color: whitesmoke;
    --text-color: black;
    --header-footer-color: white;
    --heading-bg-color: #008000;
    --opacity-level: 0.7;
    --box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    --headind1: 'marhey', sans-serif;
    --paragraph: 'roboto',sans-serif;
    --heading: 'anton SC',sans-serif; 
}

/* Global styles */
body {
    font-family: var(--paragraph);
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

header {
    padding: 20px;
    background-color: var(--primary-color);
}

header h1 {
    font-family: var(--headind1) ;
    color: var(--header-footer-color);
    text-align: center;
    font-size: 3rem;
    margin: 0;
}

/* Main container styles */
.container {
    font-family: var(--heading);
    border-top: 15px solid var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

/* Data and Weather section styles */
.data, .weather {
    opacity: var(--opacity-level);
    background-color: var(--background-color);
    padding: 10px;
    margin: 20px;
    box-shadow: var(--box-shadow);
    position: absolute;
}

.data {
    top: 20%;
    left: 20px;
}

.weather {
    top: 50%;
    right: 20px;
}

.weather h2::after {
    content: url('images/weather.svg');
    display: inline-block;
    margin-left: 10px;
}

/* Weather icon styles */
.weather img {
    position: absolute;
    width: 30px;
    margin-left: 120px;
    margin-top: -50px;
}

/* Heading styles for Data and Weather sections */
.data h2, .weather h2 {
    font-family: var(--headind1);
    background-color: var(--heading-bg-color);
    color: var(--header-footer-color);
    padding:10px 10px 10px 15px;
    margin: 10px 15px 10px -20px;
}

/* Footer styles */
footer {
    background-color: var(--primary-color);
    color: var(--header-footer-color);
    text-align: center;
    padding: 10px;
    font-size: 0.8em;
}

/* Picture element styles */
picture {
    display: flex;
}

picture img {
    width: 100%;
    height: auto;
    display: block;
}

/* Media query for smaller screens */
@media (max-width: 1253px) {
    .container {
        flex-direction: column;
        align-items: stretch;
        border-top: 15px solid var(--secondary-color);
    }

    .data, .weather {
        position: static;
        width: auto;
        margin: 10px;
        padding: 15px;
        text-align: center;
        background-color: white;

    }

    .data {
        border-bottom: 2px solid gray;
    }

    picture img {
        border-bottom: 10px solid var(--primary-color);
    }

    .data h2, .weather h2 {
        background-color: white;
        color: black;
    }

    .weather {
        max-width: 100%; 
    }

    .weather img {
        position: static;
        margin: 0 auto 15px;
        width: 70px;
        height: auto;
    }
}
